{% extends 'store/layout.html' %}

{% block body %}
    <h2>Comanda mancare online prin Deliveryn!</h2>
    <p>Ploua? Esti obosit sau n-ai chef de gatit? Comanda prin Deliveryn si ai cele mai apreciate restaurante si cea mai
        buna livrare din Bucuresti. Avem peste 400 de restaurante disponibile si o echipa de livratori pregatita sa iti
        aduca mancarea calda, in cel mai scurt timp! Ce zici de paste, pizza, sushi, noodles sau burgeri? Le avem pe
        toate si oferim servicii de livrare in Bucuresti, Cluj, Timisoara, Iasi sau Brasov. Chiar daca nu va putem oferi
        livrare non stop, serviciul nostru va ofera posibilitatea de pre-comanda online preparatele favorite si de a
        face livrarea pana la usa ta in timpul programului de functionare. Vei experimenta un nou stil de viata folosind
        platforma pentru a comanda mancare online din zona ta.

        Comenzi online rapide si accesibile prin Deliveryn cu cel mai bun serviciu de livrare
        Nu mai este nevoie sa intri in bucatarie daca vrei o masa delicioasa chiar la tine acasa. Relaxeaza-te, intra pe
        site sau pe aplicatia noastra gratuita pentru smartphone si comanda ceea ce doresti prin livrare express, ca
        apoi sa te bucuri de preparate delicioase livrate prin foodpanda. Esti pregatit sa incerci serviciul online
        pentru a comanda mancare? foodpanda va fi cel mai bun prieten al tau! Incepe sa ai un food journey chiar aici,
        cu cel mai accesibil site de livrare de mancare si comanda de la cele mai apreciate restaurante locale precum:
        Chopstix, Mado, KFC, Subway, Dristor Doner, Domino's.
    </p>

{% endblock %}