{% extends 'store/layout.html' %}

{% block body %}
    <div class="container-fluid bg-3 text-center">
        <br>
        <h3>{{ restaurant.name }}</h3><br>
        <div class="row">
            <div class="col-sm-7">
                <p>Cost of delivery: {{ restaurant.cost_of_delivery }} lei</p>
            </div>
            <div class="col-sm-2">
                <p>Rating: {{ restaurant.rating }}</p>
            </div>
        </div>
    </div>




{#    <div>#}
{#        <span class="h1">{{ restaurant.name }}</span>#}
{#        <span class="badge rounded-pill bg-secondary">Cost of delivery: {{ restaurant.cost_of_delivery }} lei</span>#}
{#        <span class="badge rounded-pill bg-secondary">Rating: {{ restaurant.rating }}</span>#}
{#    </div>#}


    {% for c in restaurant.categories.all %}
        <div class="shadow-lg p-3 mb-5 bg-body rounded" style="text-align: center; font-size: larger">
            <a href="{% url 'store:product_list' restaurant.id c.id %}">{{ c.name }}</a>
        </div>
    {% endfor %}


    {% if user.user_type == 'Restaurant' %}
        <div style="text-align: center">
            <a href="{% url 'store:update_restaurant' restaurant.id %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'store:delete_restaurant' restaurant.id %}">
                <button>Delete</button>
            </a>

            <form action="{% url 'store:add_category' restaurant.id %}" method="post">
                {% csrf_token %}
                <label for="categories">Choose a category:</label>

                <select name="category_id" id="categories">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add category">
            </form>
        </div>
    {% endif %}

{% endblock %}