{% extends 'store/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
    <br><h1 class="h1"> Restaurants </h1><br>
    <form method="get" style="text-align: center">
        {{ my_filter.form }}
        <button type="submit">Search</button>
    </form><br>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for restaurant in restaurants %}
              <div class="col">
                <a class="card-title" href="{% url 'store:detail_restaurant' restaurant.id %}"><div class="card">
                  <img src="{{ restaurant.picture }}" class="card-img-top" alt="" style="height: 200px">
                  <div class="card-body" style="text-align: center">
                    <a class="card-title" href="{% url 'store:detail_restaurant' restaurant.id %}">{{ restaurant.name }}</a>
                    <p class="card-text">
                        {% for c in restaurant.categories.all %}
                            <span>* {{ c }}</span>
                        {% endfor %}
                    </p>
                  </div>
                </div></a>
              </div>
            {% endfor %}
        </div>
    </div>
<br><br>
{% endblock %}