{% extends 'accounts/../base.html' %}
{% load static %}
{% load crispy_forms_filters %}


{% block title %}Login{% endblock %}
{% block head %}
        <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}
{% block body %}
    <h2 class="h2">Log in</h2>
    {% load crispy_forms_tags %}

    <form method="post" action="" class="form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Login">
    <button>
             <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
     </button><br><br>

    <p>Forgot your password?</p>
    <button>
        <a class="nav-link" href="{% url 'reset_password' %}">Reset password</a>
    </button>
    </form>

{% endblock %}